body {
    background-color: #f6f6f6;
}

h3 {
  text-align: center !important; 
}

#homePage{
  padding-top: 1em;
}

#aboutInfo {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  text-align: justify;
  background-color: aqua;
}

#availability {
  margin-top: 2em;
  display: block;

}

#hotel--availability {
  background-color: red;
  width: 80%;
  height: 40em;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}

.hotelAv {
  height: 30em;
  width: 60em;
  text-align: center;
  /* padding-top: 2em; */
}

.orange--hotel{
  background-color: orange;
}

.lime--hotel{
  background-color: greenyellow;
}

.kiwi--hotel{
  background-color: green;
}

.addCarousel {
  background-color: brown;
  width: 70%;
  height: 50em;
  margin: auto;
  
}

.carouselImages {
  max-width:100%;
  max-height:100%;
}


